<%- include('partial/header2') -%>
<section id="forYou" class="bg-dark" >
<div class="foryou  ms-auto bg-dark" >
    <form action="/browse" method="" class="searching ">
            <input type="search" name="songName"class='input1 input2 bg-dark text-light' value="" id="tags" placeholder="Search">
            <button type="submit" class="btn bg-dark">
                <i class="fas fa-search text-white"></i>
              </button>
      </form>
<h1 class=" fortext2 ">Browse</h1>
</div>
<div class="row rows2" style="background-color: #121212;">
    <div class="most">
        <h1 class="mostText2">Top Result</h1>

    </div>
    <div class="col-lg-12 p-2">
    
        <ul id="songs" class="songs p-0" >

            <li class="trend ajab">
                <span class="images ajab">
                    <img id="imagestatic" src="images/ajab.jpg " class="pngs ajab" alt="">
                    <span id="ajabs">
                        <i id="ajabsa" class="fa-solid ajab lh-lg"></i>
                    </span>
                </span>
                <span class="names ajab">
                    <a id="song" class="RB ajab">Tu Jaane Na</a>
                    <p id="singer" class="singer ajab">Atif Aslam - Ajab Prem Ki Gazab Kahani</p>
                </span>
            </li>
        </ul>
    </div>
   

</div>

</section>


<%- include('partial/footer2') -%>

