<%- include('partial/header2') -%>
<section id="forYou" class="bg-dark" >
<div class="foryou  ms-auto bg-dark" >
    <form action="/song" method="post" class="searching ">
            <input type="search" name=""class='input1 bg-dark text-light' id="tags" placeholder="Search">
            <button type="submit" class="btn bg-dark">
                <i class="fas fa-search text-white"></i>
              </button>
      </form>
<h1 class=" fortext ">For You</h1>
</div>
<div class="row rows" style="background-color: #121212;">
    <div class="most">
        <h1 class="mostText">Most Trending</h1>

    </div>
    <div class="col-lg-4 p-2">
    
        <ul class="songs p-0" >
            <li class="trend jhoom" >
                <span class="images jhoom">
                    <img src="images/jhoom.jpg " class="pngs jhoom" alt="">
                    <span id='jhooms'>
                        <i id="jhoomsa" class="fa-solid jhoom lh-lg"></i>
                    </span>
                </span>

                <span class="names jhoom">
                    <a id="song1" class="RB jhoom">Jhoom (R&B MIX)</a>
                    <p id="singer1" class="singer jhoom">Jhoom (R&B MIX)-Ali Zafar</p>
                </span>
            </li>
            <li class="trend roke">
                <span class="images roke">
                    <img src="images/roke.jpg " class="pngs roke" alt="">
                    <span id='rokes'>
                        <i id="rokesa" class="fa-solid roke lh-lg"></i>
                    </span>
                </span>
                <span class="names roke">
                    <a id="song2" class="RB roke">Roke Na Ruke Naina</a>
                    <p id="singer2" class="singer roke">Arijit-Singh - Badrinath Ki Dulhania</p>
                </span>
            </li>
            <li class="trend  zara">
                <span class="images zara">
                    <img src="images/zara.jpg " class="pngs zara" alt="">
                    <span id='zaras'>
                        <i id='zarasa' class="fa-solid zara lh-lg"></i>
                    </span>
                </span>
                <span class="names zara">
                    <a id="song3" class="RB zara">Zara Sa (Lofi Flip)</a>
                    <p id="singer3" class="singer zara">Pritam,KK - Jannat (Orignal Motion Picture Soundtrack)</p>
                </span>
            </li>
     
        </ul>
    </div>
    <div class="col-lg-4 p-2">

        <ul class="songs p-0">
            <li class="trend jhoom">
                <span class="images jhoom">
                    <img src="images/jhoom.jpg " class="pngs jhoom" alt="">
                    <span id='jhooms'>
                        <i id="jhoomsa" class="fa-solid jhoom lh-lg"></i>
                    </span>
                </span>

                <span class="names jhoom">
                    <a id="song1" class="RB jhoom">Jhoom (R&B MIX)</a>
                    <p id="singer1" class="singer jhoom">Jhoom (R&B MIX)-Ali Zafar</p>
                </span>
            </li>
            <li class="trend roke">
                <span class="images roke">
                    <img src="images/roke.jpg " class="pngs roke" alt="">
                    <span id='rokes'>
                        <i id="rokesa" class="fa-solid roke lh-lg"></i>
                    </span>
                </span>
                <span class="names roke">
                    <a id="song2" class="RB roke">Roke Na Ruke Naina</a>
                    <p id="singer2" class="singer roke">Arijit-Singh - Badrinath Ki Dulhania</p>
                </span>
            </li>
            <li class="trend  zara">
                <span class="images zara">
                    <img src="images/zara.jpg " class="pngs zara" alt="">
                    <span id='zaras'>
                        <i id='zarasa' class="fa-solid zara lh-lg"></i>
                    </span>
                </span>
                <span class="names zara">
                    <a id="song3" class="RB zara">Zara Sa (Lofi Flip)</a>
                    <p id="singer3" class="singer zara">Pritam,KK - Jannat (Orignal Motion Picture Soundtrack)</p>
                </span>
            </li>
     
        </ul>
    </div>
    <div class="col-lg-4 p-2">

        <ul class="songs p-0">
            <li class="trend jhoom">
                <span class="images jhoom">
                    <img src="images/jhoom.jpg " class="pngs jhoom" alt="">
                    <span id='jhooms'>
                        <i id="jhoomsa" class="fa-solid jhoom lh-lg"></i>
                    </span>
                </span>

                <span class="names jhoom">
                    <a id="song1" class="RB jhoom">Jhoom (R&B MIX)</a>
                    <p id="singer1" class="singer jhoom">Jhoom (R&B MIX)-Ali Zafar</p>
                </span>
            </li>
            <li class="trend roke">
                <span class="images roke">
                    <img src="images/roke.jpg " class="pngs roke" alt="">
                    <span id='rokes'>
                        <i id="rokesa" class="fa-solid roke lh-lg"></i>
                    </span>
                </span>
                <span class="names roke">
                    <a id="song2" class="RB roke">Roke Na Ruke Naina</a>
                    <p id="singer2" class="singer roke">Arijit-Singh - Badrinath Ki Dulhania</p>
                </span>
            </li>
            <li class="trend  zara">
                <span class="images zara">
                    <img src="images/zara.jpg " class="pngs zara" alt="">
                    <span id='zaras'>
                        <i id='zarasa' class="fa-solid zara lh-lg"></i>
                    </span>
                </span>
                <span class="names zara">
                    <a id="song3" class="RB zara">Zara Sa (Lofi Flip)</a>
                    <p id="singer3" class="singer zara">Pritam,KK - Jannat (Orignal Motion Picture Soundtrack)</p>
                </span>
            </li>
  
        </ul>
    </div>

</div>

</section>


<%- include('partial/footer2') -%>
