<%- include("partial/header4") -%>
<div class="container">
    <div class="box4">

    <table >
        <div class="mb-4 ">
        <tr>
            <th>Name:</th>
            <td><%= Name %></td>
        </tr>
    </div>

       <div class="mt-4">
        <tr>
            <th>Email:</th>
            <td><%= Email %></td>
        </tr>
       </div>

    </table>
    <a href="" class="btn5 mt-2 text-decoration-none delete" type="button">Delete Account</a>
    <a href="/logout" class="btn5 mt-2 text-decoration-none out" type="button">LogOut</a>
</div>

</div>
<%- include("partial/footer5") -%>
