<%- include("partial/header4") -%>
<div class="container">
    <div class="box4">
    <div class="user"><i class="fa-solid fa-user user2"></i></div>
<p class="text-white fs-2 fw-bold mt-4"><%= Name %></p>
<p class="text-white fs-2 fw-bold "><%= Email %></p>

    <a href="/delete" class="btn5 mt-3  text-decoration-none delete" type="button">Delete Account</a>
    <a href="/logout" class="btn5 mt-2 text-decoration-none out" type="button">LogOut</a>
</div>

</div>
<%- include("partial/footer5") -%>
