<%- include('partial/header3') -%>
<section id="forYou" class="bg-dark">
<div class="foryou  ms-auto bg-dark">
    <form action="/song" method="post" class="searching">
            <input type="search" name="songName" class='input1 bg-dark text-light' id="tags" placeholder="Search">
            <button type="submit" class="btn bg-dark">
                <i class="fas fa-search text-white"></i>
            </button>
      </form>
<h1 class="fortext2 sizes">Oops!</h1>
</div>
<div class="row rows3" style="background-color: #121212;">
    <div class="most">
        <!-- <h1 class="mostText2"></h1> -->
    </div>
    <div class="col-lg-12 p-2 width">
    
        <ul id="songs" class="p-0" >
            <li class="">
                <span class="names ajab">
                    <h3 id="song" class="mb-5" style="color: #b2b2b2;">No results found for "<%= song %>"</h3>
                    <p id="singer" class="singer ajab fm2"> </p>
                </span>
            </li>
       

        </ul>  
    </div>
   

</div>

</section>

<%- include('partial/footer4') -%>

