<%- include('partial/header1') -%>

            <!-- *********songs -->

            <div id="jhoom" class="fix1 p-0">
                <div class="fix fixed-top1">
                  <form action="/song" method="post">
                    <div class="label">
                        <input type="search" name="songName"class='form-control me-2 bg-dark text-light fn' id="tags" placeholder="Search">
                        <button type="submit" class="btn bg-dark">
                            <i class="fas fa-search text-white"></i>
                          </button>
                      </div>
                  </form>
              
            </div>

                <div class="container ">
                    <div class="cols1 cols">
                        <div class="songsNames">
                            <span class="songName1 ">Jhoom (R&B MIX)</span>
                            <br>
                            <span class="songName2 ">Jhoom (R&B MIX)-Ali Zafar</span>

                        </div>

                        <div class="songsgif jhooms"></div>
                        <div class="disc">
                            <span class="compactdisc">
                                <i class="fa-solid fa-compact-disc "></i>
                            </span>
                        </div>
                        <span class=" plays">
                            <i class="fa-solid fa-play fa-1x plays2"></i>
                        </span>
                    </div>

                    <!-- cols2******************* -->

                    <div class="cols2 cols">

                        <ul class="songs p-0">
                            <li class="songsList jhoom">
                                <span class="images jhoom">
                                    <img src="images/jhoom.jpg " class="pngs jhoom" alt="">
                                    <span id='jhooms'>
                                        <i id="jhoomsa" class="fa-solid jhoom lh-lg"></i>
                                    </span>
                                </span>

                                <span class="names jhoom">
                                    <a id="song1" class="RB jhoom">Jhoom (R&B MIX)</a>
                                    <p id="singer1" class="singer jhoom">Jhoom (R&B MIX)-Ali Zafar</p>
                                </span>
                            </li>
                            <li class="songsList roke">
                                <span class="images roke">
                                    <img src="images/roke.jpg " class="pngs roke" alt="">
                                    <span id='rokes'>
                                        <i id="rokesa" class="fa-solid roke lh-lg"></i>
                                    </span>
                                </span>
                                <span class="names roke">
                                    <a id="song2" class="RB roke">Roke Na Ruke Naina</a>
                                    <p id="singer2" class="singer roke">Arijit-Singh - Badrinath Ki Dulhania</p>
                                </span>
                            </li>
                            <li class="songsList  zara">
                                <span class="images zara">
                                    <img src="images/zara.jpg " class="pngs zara" alt="">
                                    <span id='zaras'>
                                        <i id='zarasa' class="fa-solid zara lh-lg"></i>
                                    </span>
                                </span>
                                <span class="names zara">
                                    <a id="song3" class="RB zara">Zara Sa (Lofi Flip)</a>
                                    <p id="singer3" class="singer zara">Pritam,KK - Jannat (Orignal Motion Picture Soundtrack)</p>
                                </span>
                            </li>
                            <li class="songsList ajab">
                                <span class="images ajab">
                                    <img src="images/ajab.jpg " class="pngs ajab" alt="">
                                    <span id="ajabs">
                                        <i id="ajabsa" class="fa-solid ajab lh-lg"></i>
                                    </span>
                                </span>
                                <span class="names ajab">
                                    <a id="song4" class="RB ajab">Tu Jaane Na</a>
                                    <p id="singer4" class="singer ajab">Atif Aslam - Ajab Prem Ki Gazab Kahani</p>
                                </span>
                            </li>
                            <li class="songsList remix">
                                <span class="images remix">
                                    <img src="images/remix.jpg " class="pngs remix alt=" ">
                                    <span id="remixs">
                                        <i id="remixsa" class="fa-solid remix lh-lg"></i>
                                    </span>
                                </span>
                                <span class="names remix">
                                    <a id="song5" class="RB remix">Love Mashup</a>
                                    <p id="singer5" class="singer remix">Atif Aslam,Arjit Singh,Jubin Nautiyal,Aseer Kaur,King</p>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
<%- include('partial/footer1') -%>