<%- include('partial/header1') -%>

            <!-- *********songs -->

            <div id="keaar" class="fix1 p-0">
                <div class="fix fixed-top">
                  <form  action="/song" method="post">
                    <div class="label">
                        <input type="search" name="songName" class='form-control me-2 bg-dark text-light fn' id="tags" placeholder="Search">
                        <button type="submit" class="btn bg-dark">
                            <i class="fas fa-search text-white"></i>
                          </button>
                    </div>
                  </form>
                  
                </div>

                <div class="container ">
                    <div class="cols1 cols">
                        <div class="songsNames">
                            <span class="songName1 ">Kesariya (From "Brahmastra")</span>
                            <br>
                            <span class="songName2 ">Amitabh Bhattacharya.Arijit Singh.Pritam.</span>

                        </div>

                        <div class="songsgif keaars"></div>
                        <div class="disc">
                            <span class="compactdisc">
                                <i class="fa-solid fa-compact-disc "></i>
                            </span>
                        </div>
                        <span class=" plays">
                            <i class="fa-solid fa-play fa-1x plays2"></i>
                        </span>
                    </div>
                    <!-- cols2******************* -->
                    <div class="cols2 cols">

                        <ul class="songs p-0">
                            <li id="ke1" class="songsList keaar">
                                <span class="images keaar">
                                    <img src="images/keaar.jpg " class="pngs keaar" alt="">
                                    <span id='keaars'>
                                        <i id="keaarsa" class="fa-solid keaar lh-lg"></i>
                                    </span>
                                </span>

                                <span class="names keaar">
                                    <a id="song1" class="RB keaar">Kesariya (From "Brahmastra")</a>
                                    <p id="singer1" class="singer keaar">Amitabh Bhattacharya.Arijit Singh.Pritam.</p>
                                </span>
                            </li>
                            <li class="songsList roke">
                                <span class="images roke">
                                    <img src="images/roke.jpg " class="pngs roke" alt="">
                                    <span id='rokes'>
                                        <i id="rokesa" class="fa-solid roke lh-lg"></i>
                                    </span>
                                </span>
                                <span class="names roke">
                                    <a id="song2" class="RB roke">Roke Na Ruke Naina</a>
                                    <p id="singer2" class="singer roke">Arijit-Singh - Badrinath Ki Dulhania</p>
                                </span>
                            </li>
                            <li class="songsList  zara">
                                <span class="images zara">
                                    <img src="images/zara.jpg " class="pngs zara" alt="">
                                    <span id='zaras'>
                                        <i id='zarasa' class="fa-solid zara lh-lg"></i>
                                    </span>
                                </span>
                                <span class="names zara">
                                    <a id="song3" class="RB zara">Zara Sa (Lofi Flip)</a>
                                    <p id="singer3" class="singer zara">Pritam,KK - Jannat (Orignal Motion Picture Soundtrack)</p>
                                </span>
                            </li>
                            <li class="songsList halki">
                                <span class="images halki">
                                    <img src="images/halki.jpg " class="pngs halki" alt="">
                                    <span id="halkis">
                                        <i id="halkisa" class="fa-solid halki lh-lg"></i>
                                    </span>
                                </span>
                                <span class="names halki">
                                    <a id="song4" class="RB halki">Halki Si Barsaat</a>
                                    <p id="singer4" class="singer halki">Halki Si Barsaat  by Saaj Bhatt</p>
                                </span>
                            </li>
                            <li id="ke2" class="songsList toof">
                                <span class="images toof">
                                    <img src="images/toof.jpg " class="pngs toof alt=" ">
                                    <span id="toofs">
                                        <i id="toofsa" class="fa-solid toof lh-lg"></i>
                                    </span>
                                </span>
                                <span class="names toof">
                                    <a id="song5" class="RB toof">Toofan</a>
                                    <p id="singer5" class="singer toof">Brijesh Shandilya.Mohan Krishna.Saaj Bhatt.</p>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
<%- include('partial/footer1') -%>