/* .label{
    width:300px;
} */
.searching {
    display: flex;
    justify-content: space-around;
    width: 26%;
    margin-left: auto;
    position: relative;
    top: 40px;
    margin-right: 3.5rem;

}
.input1 {
    width: 75%;
    height: 23px;
    padding: 0.1rem 0.75rem;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    border-radius: 30px;
    border: 1px solid #fff;
    transition: none;
}
.btn:hover {
border: 1px solid #fff;
}

.foryou {
    width: 87%;
}
.fortext {
    font-size: 3.7rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    color: rgb(228, 227, 227);
    margin: 5rem 0 0 1.4rem;
}
.rows {
    width: 86% !important;
    padding: 1rem 0 0;
    border: 2px solid;
    border-radius: 10px;
    border-bottom-right-radius: 10px;
    /* margin-left: auto !important; */
}
.mostText {
    font-size: 2rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    color: rgb(228, 227, 227);
}
.most {
    margin-bottom: 0.5rem;
}

/* trendinglist */
.trend {
    display: flex;
    padding: 0.5rem;
}
.trend:hover {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
    border-radius: 10px;
}

/* brewse */

.mostText2 {
    font-size: 1.7rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    color: rgb(228, 227, 227);
}

.rows2 {
    margin: 3.5rem 0 0 15rem;
    width: 80% !important;
    padding: 1rem 0.5rem 0;
    border: 2px solid;
    border-radius: 10px;
    border-bottom-right-radius: 10px;
}
.fortext2 {
    font-size: 2.5rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    color: rgb(228, 227, 227);
    margin: 5rem 0 0 4.2rem;
}
.fas {
    padding: 0 0.1rem;
}

.rows3 {
    margin: 2rem 0 0 15rem;
    width: 80% !important;
    padding: 1rem 0.5rem 0;
    border: 2px solid;
    border-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*  */
.span1{
    width: 17px;
    height: 17px;
    position: absolute;
    z-index: 1;
    transform: rotate(45deg);
    border-left: 3px solid rgb(223, 223, 223);
    border-top: 3px solid rgb(224, 224, 224);
    left: 25px;
    cursor: pointer;
}
.span2{
    text-align: center;
    width: 73px;
    height: 25px;
    position: relative;
    z-index: 1;
    color: #121212;
    bottom: 4rem;
    border-radius: 7px
}
.span3{
    color: rgb(240, 240, 240);
    background-color: #000000;
    font-weight: 600;

}