body{
    color: #000;
    background-image: none;
    background-color:  #000000;
}
.box4{
    margin: 2rem auto;
}
tbody{
    height: 70px;
}
.btn5{
    padding:.3rem  .6rem;
    background-color:black;
    border-radius: 10px;
}
.delete{
    color: #fff;
    background-color: rgb(199, 53, 53);
}
.out{
    color: #fff;
    background-color: rgb(39, 99, 190);
    margin-left: 1rem;
    
}
.delete:hover{
    color: #fff;

}.out:hover{
    color: #fff;

}
.user{
    border-radius: 100px;
    background-color: #343131;
    width: 200px;
    height: 200px;
    text-align: center;
    padding-top: 10px;
}

.user2{
    font-size: 9rem;
}
.row1{
    height: 700px;
}