* {
    margin: 0;
    padding: 0;
}
#home {
    display: block;
}
.row1 {
    height: 745px;
    width: 100%;
}

.ul1 {
    margin-top: 2rem;
    padding-left: 1.2rem;

}
.navbar {
    background-color: #121212;
}
.imgwidt {
    width: 33px;
}

.li1 {
    width: 100%;
    list-style-type: none;
    text-transform: capitalize;
    line-height: 2;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 1rem;
    padding-left: 0.6rem;
}
.li1s {
    background-color: rgba(0, 0, 0, .5);
    opacity: 1;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    width: 70%;
    padding-right: 2.7rem;
}
.restxt {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    font-family: 'Montserrat', sans-serif;

}

/* ul2********** */
.ul2 {
    margin-top: 4rem;
    padding-left: 2rem;

}
.li2 {
    text-align: left;
    list-style-type: none;
    text-transform: capitalize;
    cursor: pointer;
    margin-bottom: 1.5rem;
}
.restxt1 {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(195,200,215);
}
.restxt1:hover {
    color: #fff;
}
.lib {
    color: rgb(125, 125, 125);

}
.fm {
    background-color: #121212;
    height: 100%;
    padding-top: 2rem;
    position: fixed;

}
.fa1 {
    font-size: 1.2rem;
    color: rgb(195,200,215);
    margin-right: 0.5rem;

}
.fa1:hover {
    color: #fff;
}

@media (min-width:1200px) {

    .col-lg-res {
        flex: 0 0 auto;
        width: 13%;
        height: 100%;
    }

}
/* fix ***********/
@media (min-width:1200px) {
    .fix1 {
        flex: 0 0 auto;
        width: 87%;
        margin-left: 13%;
    }
}

/* backgroundimages**** */
#jhoom {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .5),rgba(0, 0, 0, .9),rgb(28, 23, 23),rgb(9, 8, 8)), url("images/jhoom.jpg");

}
#roke {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .5),rgba(0, 0, 0, .9),rgb(28, 23, 23),rgb(9, 8, 8)), url("images/roke.jpg");

}
#zara {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .5),rgba(0, 0, 0, .9),rgb(28, 23, 23),rgb(9, 8, 8)), url("images/zara.jpg");
}
#ajab {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .5),rgba(0, 0, 0, .9),rgb(28, 23, 23),rgb(9, 8, 8)), url("images/ajab.jpg");

}
#remix {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .5),rgba(0, 0, 0, .9),rgb(28, 23, 23),rgb(9, 8, 8)), url("images/remix.jpg");

}

.fix1 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .5),rgba(0, 0, 0, .9),rgb(28, 23, 23),rgb(9, 8, 8)), url("images/jhoom.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.fix {
    background-color: transparent;
    line-height: 0;

}
.fixed-top1 {
    position: fixed;
    top: 0;
    right: 0;
    left: 13%;
    z-index: 1030;
}

.d-flex {
    padding: 3rem 0;
}

.form-control {
    width: 20%;
    height: 32%;
    padding: 0.1rem 0.75rem;
    margin-left: 70%;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    border-radius: 30px;
    transition: none;
}

.label{
    margin-top: 2rem;
    display: flex;
    align-items: center;
}
.btn {
    padding: 0 0.5rem;
    line-height: 0;
    font-size: 0.8rem;
    border-radius: 30px;
    color: #fff;
    border-color:rgb(82, 70, 70);
    height: 26px;
    width: 42px;
}

#ui-id-1{
    margin-top: 2rem;
    --bs-bg-opacity: 1;
    background-color: rgb(29, 26, 26);
    background-image: linear-gradient(transparent,rgba(0, 0, 0, .1),rgb(0, 0, 0, .1),rgb(0, 0, 0, .1),rgb(0, 0, 0, .1),rgb(28, 27, 27),rgb(26, 24, 24));
    border: 1px solid #0000;
    color: #fff;
    width: 310px !important;
    top: 2.5rem !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;


}

.ui-menu-item{
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
    font-size: .9rem;
    letter-spacing: 1px;
    border: none !important;
   border-bottom: 1px solid rgb(59, 57, 57)  !important;;

}
.ui-menu-item .ui-menu-item-wrapper{
    color: rgb(222, 220, 220) !important;
    padding: .4rem .5rem!important;
    outline: none !important;  
    background:none !important; 
    border:none !important;

}


.ui-menu-item .ui-menu-item-wrapper:hover{
background:rgb(59, 57, 57)  !important;
font-weight: bold !important;
color: rgb(236, 226, 226) !important;
border:none !important;
border-radius: 10px !important;
outline: none !important;  

}


/* *******col */
.cols {
    display: inline-block;
}
.cols1 {
    background-color: transparent;
    background-image: linear-gradient(rgb(82, 70, 70),rgb(59, 51, 51),rgb(49, 44, 44),rgb(41, 35, 35),rgb(37, 31, 31),rgb(31, 26, 26),rgb(24, 21, 21),rgb(20, 17, 17),rgb(16, 14, 14),rgb(12, 11, 11),rgb(8, 7, 7),rgb(6, 5, 5));
    border-radius: 23px;
    position: relative;
    margin: 0 2rem;
    text-align: center;
}
.cols2 {
    background-color: transparent;
    background-image: linear-gradient(transparent,transparent,transparent,rgba(0, 0, 0, .1),rgb(0, 0, 0, .1),rgb(0, 0, 0, .1),rgb(0, 0, 0, .1),rgb(43, 39, 39),rgb(29, 26, 26));
    margin: 0;

}

.container {
    height: 100%;
    margin: 0;
    padding: 7.5rem 0 0;
    display: flex;
}

@media (min-width:1200px) {
    .cols1 {
        flex: 0 0 auto;
        width: 54.55%;
        height: 70%;
    }
    .cols2 {
        flex: 0 0 auto; 
        width: 40%;
        height: 70%;
    }
}

/* songs******** */

.jhooms {
    height: 250px;
    width: 250px;
    background-image: url("images/jhoom.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 17px;
    position: absolute;
    z-index: 1;
    left: 33%;

}
.rokes {
    height: 250px;
    width: 250px;
    background-image: url("images/roke.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 17px;
    position: absolute;
    z-index: 1;
    left: 33%;

}
.zaras {
    height: 250px;
    width: 250px;
    background-image: url("images/zara.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 17px;
    position: absolute;
    z-index: 1;
    left: 33%;

}
.ajabs {
    height: 250px;
    width: 250px;
    background-image: url("images/ajab.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 17px;
    position: absolute;
    z-index: 1;
    left: 33%;

}
.remixs {
    height: 250px;
    width: 250px;
    background-image: url("images/remix.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 17px;
    position: absolute;
    z-index: 1;
    left: 33%;

}

.songsNames {
    margin: 1.7rem auto;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.songName2 {
    display: block;
    max-width: 60%;
    margin: auto;
    line-height: 28px;
    color: rgb(195,200,215);
    font-size: 0.8rem;
    letter-spacing: 0.8px;

}
.disc {
    font-size: 12rem;
    color: rgb(0, 0, 0);
    position: absolute;
    left: 32%;
    top: 17.55%;
    z-index: 0;
    margin-left: 7.5rem;

}

/* cols2*********** */

.songsList {
    list-style-type: none;
    padding: 0.6rem;
    display: flex;
    background-color: rgba(0, 0, 0, .3);
}
.songsList:hover {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 11px;

}
.images {
    display: block;
    width: 70px;
    height: 68px;
    position: relative;
}
.pngs {
    width: 100%;
    height: 100%;
    border-radius: 10px;

}
.names {
    margin: 0.5rem 0 0 0.8rem;
}
.RB {
    color: rgb(248, 248, 248);
    margin: 0;
    letter-spacing: 0.6px;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    cursor: pointer;
}
.RB:hover {
    text-decoration: underline;
    color: #fff;
}
.singer {
    color: #fff;
    margin: 0;
    letter-spacing: 0.6px;
    font-size: 0.8rem;
    font-weight: bold;
    color: rgb(221, 218, 218);
    cursor: pointer;
}
/* animation*** */

.fa {
    animation: spin 3s linear infinite;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* ***range */

.songplay {
    width: 96%;
    position: fixed;
    bottom: 2%;
    left: 2%;
    padding: 1.6rem 0.7rem 0.5rem;
    background-color: black;
    margin: auto;
    border-radius: 16px;

}
.rangesmall {
    width: 130px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    transform: rotate(-90deg);
    height: 1.3rem;
    margin-left: auto;
    position: absolute;
    left: 92.9%;
    bottom: 122px;
    visibility: hidden;
}
.smallrange {
    position: relative;
    bottom: 6px;
    margin-left: 0.5rem;
    cursor: pointer;

}
/* ranges */
.rangesmall {
    background-color: #d7d4d4;
}
.rangesmall input[type = 'range'] {
    -webkit-appearance: none;
    height: 3px;
    width: 90%;
    outline: none;
    background-color: rgb(68, 65, 65);
}
.rangesmall input[type = 'range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 0.6rem;
    width: 0.6rem;
    background: rgb(32, 32, 32);
    border-radius: 50%;
}

.range input[type="range"] {
    -webkit-appearance: none;
    height: 4px;
    width: 90%;
    outline: none;
    background-color: rgb(202, 197, 197);
    overflow: hidden;
    cursor: pointer;

}
.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 0.8rem;
    width: 0.1rem;
    background: rgb(203, 203, 203);
    border-radius: 50%;
    box-shadow: -750px 0 0 750px #e35840;
}

.play {
    color: rgb(21, 18, 18);
    opacity: 1;
    margin-top: 0.1rem;
}
.playgif {
    padding: 0.7rem 1.1rem;
    border-radius: 100%;
    position: absolute;
    left: 48%;
    top: 48%;
    z-index: 1;
    background-color: #fff;
    opacity: 1;
    border: 1.2px solid rgb(0, 0, 0);
    cursor: pointer;

}

.play1 {
    color: rgb(244, 244, 244);
    opacity: 1;
    font-size: 0.8rem;

}
.playgif2 {
    position: absolute;
    top: 26%;
    left: 28%;
    padding: 0.2rem 0.7rem;
    border-radius: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, .9);
    opacity: 0.7;
    border: 1.2px solid rgb(0, 0, 0);
}

/* ForwardBackward********** */

.forBac1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0%;
    width: 10%;
}
.forBac2 :hover {
    color: #fff;

}
.fafb {
    font-size: 1.3rem;
    color: rgb(155, 153, 153);
    cursor: pointer;
}
.sideSong {
    display: inline-flex;
    align-items: baseline;
    position: absolute;
    top: 0;
    z-index: 10001;
}
.images2 {
    display: block;
    width: 70px;
    height: 68px;
    position: relative;
    bottom: 10px;

}

/* ***gif */

.gif {
    position: absolute;
    left: 48%;
    top: 48%;
    z-index: 1;
    cursor: pointer;
    width: 6.4%;
    height: 10.6%;
}
.gif2 {
    width: 100%;
    height: 100%;
    border-radius: 100%;

}
.gif2:hover {
    border: 1px solid #fff;

}

.gif3 {

    position: absolute;
    left: 30%;
    top: 30%;
    z-index: 1;
    cursor: pointer;
    width: 40%;
    height: 40%;
    border-radius: 100%;
}

.gif3:hover {
    border: 1px solid #fff;

}

/* volume */

.forback {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.vol {
    font-size: 1.1rem;
    color: #fff;
    cursor: pointer;
}

/*  */
.span1{
    width: 17px;
    height: 17px;
    position: absolute;
    z-index: 1;
    transform: rotate(45deg);
    border-left: 3px solid rgb(223, 223, 223);
    border-top: 3px solid rgb(224, 224, 224);
    left: 25px;
    cursor: pointer;
}
.span2{
    text-align: center;
    width: 73px;
    height: 25px;
    position: relative;
    z-index: 1;
    color: #121212;
    bottom: 4rem;
    border-radius: 7px
}
.span3{
    color: rgb(240, 240, 240);
    background-color: #000000;
    font-weight: 600;

}