<div class="songplay">

    <div class="forback">
        <span class="span2 "> <p>Expand</p></span>
        <div class="sideSong">
            <span class="images2">
                <img src="images/tujaanena.jpg " class="pngs lastimg" alt=""></span>
                    <span class="span1"></span>
                    <span class="span1 mt-2 me-2"></span>
                <span class="names">
                    <a class="RB musicName">Tu Jaane Na</a>
                    <p class="singer singers">Atif Aslam - Ajab Prem Ki Gazab Kahani</p>
                </span>

            </div>

            <div class="forBac1">
                <span class="forBac2">
                    <i class="fa-solid fa-backward-step fafb backward"></i>
                </span>
                <span class="forBack2">
                    <i class="fa-solid fa-play fafb text-white fs-3 lstPlay"></i>
                </span>
                <span class="forBac2">
                    <i class="fa-solid fa-forward-step fafb forward"></i>
                </span>
            </div>

            <span class="volume me-3">
                <i class="fa-solid fa-volume-high vol "></i>

            </span>
            <div class="rangesmall">
                <input type="range" class="smallrange " min="0" max="100" value="100" step="1"></div>
            </div>

            <div class="range">

                <input type="range" class=" w-100" name="" id="range" min="0" max="100" value="0"></div>

            </div>

        </section>
        <audio id="audio1" class="jhoom ">
            <source src=<%= names %> class="audio2" type="audio/mp3">
        </audo>
        </body>
    </html>