<div class="songplay">

    <div class="forback">
        <span class="span2 "> <p>Expand</p></span>
        <div class="sideSong">
            <span class="images2">
                <img src="images/jhoom.jpg " class="pngs lastimg" alt="">
                <span class="span1"></span>
                <span class="span1 mt-2 me-2"></span>
            </span>
            <span class="names">
                <a class="RB musicName">Jhoom (R&B MIX)</a>
                <p class="singer singers">Jhoom (R&B MIX)-Ali Zafar</p>
            </span>

        </div>

        <div class="forBac1">
            <span class="forBac2">
                <i class="fa-solid fa-backward-step fafb backward"></i>
            </span>
            <span class="forBack2">
                <i class="fa-solid fa-play fafb text-white fs-3 lstPlay"></i>
            </span>
            <span class="forBac2">
                <i class="fa-solid fa-forward-step fafb forward"></i>
            </span>
        </div>

        <span class="volume me-3">
            <i class="fa-solid fa-volume-high vol "></i>

        </span>
        <div class="rangesmall">
            <input type="range" class="smallrange " min="0" max="100" value="100" step="1">
        </div>
    </div>

    <div class="range">

        <input
            type="range"
            class=" w-100"
            name=""
            id="range"
            min="0"
            max="100"
            value="0">
    </div>

</div>

<audio id="audio1" class="jhoom ">
    <source src="songs/jhoom.mp3" class="audio2" type="audio/mp3">
</audio>
<audio id="audio2" class="roke">
    <source src="songs/roke.mp3" class="audio2" type="audio/mp3">
</audio>
<audio id="audio3" class="zara">
    <source src="songs/zarasa.mp3" class="audio2" type="audio/mp3">
</audio>
<audio id="audio4" class="ajab">
    <source src="songs/ajab.mp3" class="audio2" type="audio/mp3">
</audio>
<audio id="audio5" class="remix">
    <source src="songs/remix.mp3" class="audio2" type="audio/mp3">
</audio>

</section>

</body>
</html>