<div class="songplay">

    <div class="forback">
        <div class="sideSong">
            <span class="images2">
                <img src="images/keaar.jpg " class="pngs lastimg" alt="">
            </span>
            <span class="names">
                <a class="RB musicName">Kesariya (From "Brahmastra")</a>
                <p class="singer singers">Amitabh Bhattacharya.Arijit Singh.Pritam.</p>
            </span>

        </div>

        <div class="forBac1">
            <span class="forBac2">
                <i class="fa-solid fa-backward-step fafb backward"></i>
            </span>
            <span class="forBack2">
                <i class="fa-solid fa-play fafb text-white fs-3 lstPlay"></i>
            </span>
            <span class="forBac2">
                <i class="fa-solid fa-forward-step fafb forward"></i>
            </span>
        </div>

        <span class="volume me-3">
            <i class="fa-solid fa-volume-high vol "></i>

        </span>
        <div class="rangesmall">
            <input type="range" class="smallrange " min="0" max="100" value="100" step="1">
        </div>
    </div>

    <div class="range">

        <input
            type="range"
            class=" w-100"
            name=""
            id="range"
            min="0"
            max="100"
            value="0">
    </div>

</div>

<audio id="audio1" class="keaar ">
    <source src="songs/kesar.mp3" class="audio2" type="audio/mp3">
</audio>
<audio id="audio2" class="roke">
    <source src="songs/roke.mp3" class="audio2" type="audio/mp3">
</audio>
<audio id="audio3" class="zara">
    <source src="songs/zarasa.mp3" class="audio2" type="audio/mp3">
</audio>
<audio id="audio4" class="halki">
    <source src="songs/halki.mp3" class="audio2" type="audio/mp3">
</audio>
<audio id="audio5" class="toof">
    <source src="songs/toofan.mp3" class="audio2" type="audio/mp3">
</audio>

</section>

</body>
</html>