<div class="expaImg ">
    <span class="span4 ">
        <p>Collapse</p>
    </span>
</div>
<div class="songplay">
    <div class="forback">
        <span class="span2 "> <p>Expand</p></span>
        <div class="sideSong">
            <span class="images2">
                <img src=<%= array1[0].imag %> class="pngs lastimg" alt=""></span>
                <span class="span1"></span>
                    <span class="span1 mt-2 me-2"></span>
                <span class="names">
                    <a class="RB musicName"><%= array1[0].songnaam %></a>
                    <p class="singer singers"><%= array1[0].singername %></p>
                </span>

            </div>

            <div class="forBac3">
                <span class="forBac2">
                    <i class="fa-solid fa-backward-step fafb backward"></i>
                </span>
                <span class="forBack2">
                    <i class="fa-solid fa-play fafb text-white fs-3 lstPlay"></i>
                </span>
                <span class="forBac2">
                    <i class="fa-solid fa-forward-step fafb forward"></i>
                </span>
            </div>

            <span class="volume me-3">
                <i class="fa-solid fa-volume-high vol "></i>

            </span>
            <div class="rangesmall">
                <input type="range" class="smallrange " min="0" max="100" value="100" step="1"></div>
            </div>

            <div class="range">
                <input type="range" class=" w-100" name="" id="range" min="0" max="100" value="0"></div>
            </div>
            <audio src= <%= array1[0].src1 %> id="gaana"></audio>

        </section>
    </body>
</html>